
.best_selling_item {
    min-width: 280px;
}

.best_selling_item_line::before {
    background-color: var(--color-neutral-100);
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
