
@media (min-width: 1024px) {
    .breakpoint .widget_amazing_mini_carousel {
        padding-right: 2px;
        padding-left: 2px;
    }
}

.widget_amazing_mini_carousel {
    background-color: "#ef4056";
}