.navbar_header_desktop__hide {
    display: none !important;
    transition: all 1s;
}

@media only screen and (max-width: 992px) {
    .navbar_mobile_hide {
        margin-top: -100% !important;
    }
}
