@import url(primary-iran-yekan.css);
@import url(roots.css);
html {
    scroll-behavior: smooth;
    max-width: 100vw;
    background-color: #fff;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0
}

html,
body {
    direction: rtl;
    height: 100%;
    width: 100%;
    font-size: 13px;
}

body {
    background-color: var(--color-neutral-000);
    min-height: 100vh
}

*,
body {
    font-family: var(--font-family);
}

body {
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

#app {
    height: 100%;
}

input {
    background-color: transparent
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

#__next {
    min-height: 100%;
    height: 100%;
    position: relative;
}

span>img {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
}

.makeup-card>span {
    position: relative !important;
}

.hp-categories-icons span,
.brand-list__item span {
    position: relative !important;
}

.hp-categories-icons span img {
    width: 100% !important;
}

@media (min-width: 1024px) {
    .mb-9-lg {
        margin-bottom: calc(9 * var(--spacing-base));
    }
}

@media (min-width: 1024px) {
    .text-body2-strong {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.17;
    }
}

.text-body2-strong {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 2.17;
}

.mb-6 {
    margin-bottom: calc(6 * var(--spacing-base));
}

.color-900 {
    color: var(--color-neutral-900);
}

.mt-2 {
    margin-top: calc(2 * var(--spacing-base));
}

.color-600 {
    color: var(--color-neutral-600);
}

.text-h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.1;
}

@media (min-width: 1024px) {
    .breakpoint .text-h3 {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 2.1;
    }
}

.w-20 {
    width: 20%;
}

.grow-1 {
    flex-grow: 1;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.py-3 {
    padding-top: calc(3 * var(--spacing-base));
    padding-bottom: calc(3 * var(--spacing-base));
}

@media (min-width: 1024px) {
    .breakpoint .px-4-lg {
        padding-right: calc(4 * var(--spacing-base));
        padding-left: calc(4 * var(--spacing-base));
    }
}

.px-1 {
    padding-right: calc(1 * var(--spacing-base));
    padding-left: calc(1 * var(--spacing-base));
}

.color-700 {
    color: var(--color-neutral-700);
}

.color-300 {
    color: var(--color-neutral-300);
}

.mr-auto {
    margin-right: auto;
}

.line-through {
    text-decoration: line-through;
}

.as-end {
    align-self: flex-end;
}

.pl-5 {
    padding-left: calc(5 * var(--spacing-base));
}


/*****************************************************************************/

.swiper {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 1281px) {
    .swiper {
        max-height: 400px !important;
    }
}